body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.nav {
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Add space above the navigation bar */
}

.nav a {
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    transition: opacity 0.3s ease, color 0.3s ease;
    opacity: 1;
    margin: 0 80px; /* Add space between each navigation bar element */
}

.name {
    text-align: center;
    position: relative;
    margin-top: 280px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 150px;
    color: #1c1818;
    font-weight: bold;
}

.description {
    text-align: center;
    position: relative;
    width: 100%;
    font-size: 26px;
    color: #1c1818;
    font-weight: bold;
}

@media only screen and (max-width:1400px) {
    .nav a {
        font-size: 1.3rem;
        padding: 0.6rem 1rem;
        margin: 0 4%; /* Use percentage for relative spacing on smaller screens */
    }
    .name {
        font-size: 4rem;
        margin-top: 3.5rem;
    }

    .description {
        font-size: 1.0rem;
        margin-top: 1rem;
    }
}


@media only screen and (max-width: 600px) {
    .nav a {
        font-size: 0.8rem;
        padding: 0.3rem 0.5rem;
        margin: 0 2%; /* Use percentage for relative spacing on smaller screens */
    }

    .name {
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    .description {
        font-size: 0.6rem;
        margin-top: 0.5rem;
    }
}


